<%- include('../partials/header') %>

    <h1>SKILLS</h1>
    <a href="/skills/new">Add New Skill</a>
    <br>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <form action="/skills/<%= s.id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">X</button>
                  </form>
                <a href="/skills/<%= s.id %>">
                    <%= s.id %>
                </a>

                <%= s.skill %>
                    -
                    <%= s.has ? 'yes' : 'no' %>
            </li>
            <% }); %>
    </ul>
    <%- include('../partials/footer') %>